.popup__btn{
    margin-top: 18px;
    background: #000000;
    width: 358px;
    height: 50px;
    border: 0;
    padding: 14px 125px 18px;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.popup__btn:hover{
    opacity: .8;
}

@media screen and (max-width: 420px){
    .popup__btn {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
 }
}