.footer__text{
    margin: 67px 0 0 0;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 760px){
    .footer__text {
        font-size: 14px;
        line-height: 17px;
        margin: 48px 0 0 0;
        padding-bottom: 36px;
        padding-left: 19px;
 }
}