.card__like{
    width: 22px;
    height: 19px;
    margin-right: 20px;
    margin-top: 25px;
    border: 0;
    background-image: url(../../../images/vector/heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.card__like:hover{
    opacity: .5;
}